body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    background-color: yellow;
}
.card{
    background: aqua;
    border-radius: 8px;
    border-style: double;
    width: 400px;
    text-align: center;
}
input{
    width: 200px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5rem;
}
button{
    border-radius: 4px;
    cursor: pointer;

}
button:hover{
    color: orange;
}